doctype html
html
    head
        title myServer
        style.
            a{
                display: block;
            }
    body
        each item in files
            a(href= dir + "/"+item)= item

